body{
    font-family: 'Roboto';
}
.aboutFooter{
    height: 55px;
    background-color: #9ca3af;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 100;
}
main{
    background-color: white;
    
}
.aboutText{
    margin: 0%;
    color: black;
    text-align: center;
}
.container{
    text-align: center;
}