/*.message-block-my,
.message-block-not-my{
    max-width:fit-content;
    margin:10px;
}
.message-block-my{
    margin-bottom:20px;
    padding:20px;
    font-size:20px;
    min-width: fit-content;
    word-wrap: break-word;
    align-self: flex-end;
    background-color: aquamarine;
}
.message-block-not-my{
    background-color:#96aac4;
    text-align:right;
    min-width: fit-content;
    word-wrap: break-word;
    padding:20px;
    font-size:20px;
    align-self: flex-start;
}
*/