#navbar{
    width: 100vw;
    display: flex;
    min-width: fit-content;
    background-color: #2563eb;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

a {
    margin: 0%;
    color: white;
    text-decoration: none;
    float: left;
    padding: 24px 40px;
    font-size: 3vh;
    text-align: center;
}
.navbarT{
    font-size:3.7rem;
    color:white;
}
a:hover{
    background-color: #5f6268;
    color: black;
}
.navSpacer{
    flex:0
}
