.abouttext {
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  color: yellow;
  display: flex;
}
#input {
  background-color: #292524;
  color: yellow;
}
.list {
  font-family: "Edu QLD Beginner", cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: auto;
  padding: 2px;
}
.listbody {
  background-color: #171717;
  border: 5px solid #1c1917;
  text-align: center;
  padding: 10px;
  color: blue;
  height: 150px;
  width: 500px;
}
.chanelname {
  color: green;
}
.ower {
  color: red;
}
.jon {
  background-color: #171717;
  border-radius: 50px 10px;
  color: yellow;
  width: 10vh;
}
