.homepage {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.abouttext {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
}
.home {
  color: yellow;
}
