.homepage {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.abouttext {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
}
#users {
  border: 5px solid rgb(37, 37, 34);
}
#table1 {
  background-color: #c0c0c0;
}
th {
  background-color: #c0c0c0;
}
.home {
  color: yellow;
}
img {
  max-height: 150px;
  max-width: 150px;
}
