.message-block-not-my{
    max-width: fit-content;
    margin:10px;
}

.message-block-not-my{
    background-color:#96aac4;
    text-align:right;
    min-width: fit-content;
    word-wrap: break-word;
    padding:20px;
    font-size:20px;
    align-self: flex-start;
    display:flex;
    align-items: center;
}
.message-block-notification{
    text-align:center;
    max-width: fit-content;
    word-wrap: break-word;
    padding:20px;
    font-size:15px;
    color: #a4a4a4;
    align-self: center;
}
.message-block-notification img{
    display:none
}
.photo{
    background-color:#96aac4;
    text-align:left;
    min-width: fit-content;
    word-wrap: break-word;
    margin-left: 10px;
    padding:10px;
    font-size:20px;
    align-self: flex-start;
}
.pfp{
    margin-right:10px;
    height:50px;
    width:50px;
    border-radius: 100%;
    border:1px solid white;
}