.bm-burger-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  opacity: 0;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
  display: none;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 25vw;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  flex-direction: column;
  color: white;
  display: flex;
  width: 20vw;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
